extends ../layout

block content
  script(src='/javascript/vote.js', type='text/javascript')

  p(ng-controller='VoteCtrl')
    h2=poll.name

    if poll.choices
      dl
        each choice in poll.choices
          - var votes = poll.votesFor(choice)
          dt #{choice.text}
          dd #{votes.total} (#{votes.percentile}%)
  p
  h4 Voting ends #{poll.expires}
  p
    if poll.votes.length == 0
      h4 There are no votes yet. Be the <a href="#{poll.uri}/vote">first</a>?
    else
      h4 Details
      ul
        each vote in poll.votes
          li= vote.voter + " voted " + poll.textFor(vote.choice) + " at " + vote.createdAt

