p
  h2 #{poll.name}?

  dl
    each choice in poll.choices
      - var votes = poll.votesFor(choice)
      dt #{choice.text}
      dd #{votes.total} (#{votes.percentile}%)
p
h4 Voting ends #{poll.expires}
p
  h4 Details
  ul
    each vote in poll.votes
      li= vote.voter + " voted " + poll.textFor(vote.choice) + " at " + vote.createdAt

